{% extends "folder/base.html" %}

{% block "header" %}
    {% include "folder/header.html" %}
{% endblock %}

{% block "content" %}

{% if not files %}

<div id="greeting" class="col-sm-4 col-sm-offset-4">
    <p class="lead text-center">Привет, {{user}}!</p>
    <p class="lead text-center">У Вас нет ни одного загруженного файла!</p>
    <p class="text-center">
        <button id="center_upload_btn" type="submit" class="btn btn-primary btn-lg btn-block">
            <i class="fa fa-cloud-upload fa-2x fa-fw"></i><h4>Загрузить Файл</h4>
        </button>
    </p>
</div>

{% else %}

{% for file in files %}
    <div class="col-sm-3 col-md-2">
        <div class="thumbnail">
          <div class="caption">
            <i class="fa fa-file-text-o fa-fw fa-2x"><h3>{{file.name|truncatechars:16}}</h3></i>
            <p>Создан: {{file.created|date:"d.m.Y H:i"}}, Размер: {{file.target.size}} байт</p>
            <p>
                <a href="/folder/download/{{file.pk}}" class="btn btn-default" role="button">Скачать</a>
                <a href="/folder/delete/{{file.pk}}" class="btn btn-danger delete_file" role="button" name="{{file.name}}">Удалить</a>
            </p>
          </div>
        </div>
    </div>
{% endfor %}

{% endif %}

{% include "folder/upload.html" %}

{% include "folder/delete.html" %}

{% endblock %}
