{% extends "folder/base.html" %}

{% block "header" %}
    {% include "folder/header.html" %}
{% endblock %}

{% block "content" %}

{% if not files %}

<div id="greeting" class="col-sm-4 col-sm-offset-4">
    <p class="lead text-center">Привет, {{user}}!</p>
    <p class="lead text-center">У Вас нет ни одного загруженного файла!</p>
    <p class="text-center">
        <button id="center_upload_btn" type="submit" class="btn btn-primary btn-lg btn-block">
            <i class="fa fa-cloud-upload fa-2x fa-fw"></i><h4>Загрузить Файл</h4>
        </button>
    </p>
</div>

{% else %}

{% for file in files %}
    <div class="col-sm-3 col-md-2">
        <div class="thumbnail">
          <div class="caption text-left">
            {% if "pdf" in file.target.content_type.name %}
            <i class="fa fa-file-pdf-o fa-2x"></i>
            {% elif "image" in file.target.content_type.name %}
            <i class="fa fa-file-image-o fa-2x"></i>
            {% elif "zip" in file.target.content_type.name or "compressed" in file.target.content_type.name %}
            <i class="fa fa-file-archive-o fa-2x"></i>
            {% elif "text" in file.target.content_type.name %}
            <i class="fa fa-file-text-o fa-2x"></i>
            {% elif "word" in file.target.content_type.name %}
            <i class="fa fa-file-word-o fa-2x"></i>
            {% elif "spreadsheet" in file.target.content_type.name or "excel" in file.target.content_type.name %}
            <i class="fa fa-file-excel-o fa-2x"></i>
            {% elif "powerpoint" in file.target.content_type.name %}
            <i class="fa fa-file-powerpoint-o fa-2x"></i>
            {% elif "audio" in file.target.content_type.name %}
            <i class="fa fa-file-audio-o fa-2x"></i>
            {% elif "video" in file.target.content_type.name %}
            <i class="fa fa-file-video-o fa-2x"></i>
            {% else %}
            <i class="fa fa-file-o fa-2x"></i>
            {% endif %}
            <h3>{{file.name|truncatechars:16}}</h3>
            <p>Создан: {{file.created|date:"d.m.Y H:i"}}, Размер: {{file.target.size}} байт</p>
            <p id='file_shared_link_op_{{file.pk}}' class='file_shared_link_operations'>{% if file.shared %}Ссылка: <a href="/folder/shared/{{file.shared}}"><small>{{file.name|truncatechars:16}}</small></a><a href="#" name="{{file.pk}}" class="delete_shared_link"><i class="fa fa-trash-o fa-fw"></i></a>{% else %}<a href="#" name="{{file.pk}}" class="create_shared_link"><i class="fa fa-link fa-fw"></i> Создать ссылку</a>{% endif %}</p>
            <p>
                <a href="/folder/download/{{file.pk}}" class="btn btn-default download_file" role="button" name="{{file.pk}}">Скачать</a>
                <a href="/folder/delete/{{file.pk}}" class="btn btn-danger delete_file" role="button" name="{{file.name}}">Удалить</a>
            </p>
          </div>
        </div>
    </div>
{% endfor %}

{% endif %}

{% include "folder/upload.html" %}

{% include "folder/delete.html" %}

{% endblock %}
